.div1{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    margin: 25px auto;
    padding: 30px;
    text-align: justify;
    width: 75%;
    border-left: double darkred 15px;
    background-color: rgba(235, 12, 12, 0.014);
    font-size: 1.3rem;
}

.div2{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    margin: 25px auto;
    padding: 30px;
    text-align: justify;
    width: 75%;
    border-left: solid darkorange 15px;
    background-color: rgba(235, 101, 12, 0.014);
    font-size: 1.3rem;
}

.div3{
    box-shadow:
    rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1)
    0px 0px 0px 1px inset;
    margin: 25px auto;
    padding: 30px;
    text-align: justify;
    width: 75%;
    border-left: double lightsalmon 15px;
    background-color: rgba(255, 160, 122, 0.5);
    font-size: 1.3rem;
}

.div4{
    box-shadow:
    rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1)
    0px 0px 0px 1px inset;
    margin: 25px auto;
    padding: 30px;
    text-align: justify;
    width: 75%;
    border-left: solid #2f00ff 15px;
    background-color: hsla (250, 61%, 25%,0.3);
    font-size: 1.3rem;
    color:aliceblue;
}

#paragrafo1{
    font-size: 2em;
    font-style: italic;
    color: deeppink;
}
